<form [formGroup]="employeeForm" (ngSubmit)="submitEmployee(employeeForm.value)">     
    <div class="card card-block boxshadow">        
        <div class="col-md-12 pad10">
            <label for="Name" class="pad-r10" >Employee Name: </label>
            <input id="Name" formControlName="Name" name="Name" class="formcontrol form-control col-md-4" >
        </div>
        <div class="col-md-12 pad10">
            <label for="designation" class="pad-r10" >Designation: </label>
            <input id="designation" formControlName="Designation" name="designation" class="formcontrol form-control col-md-4" >
        </div>
        <div class="col-md-12 pad10" style="text-align: center;">
            <button type="submit" class="btn btn-primary" >Save</button>
        </div>
    </div>        
</form>
<!-- 
<div class="col-md-12 pad0 card card-block boxshadow display-InlineBox" *ngFor="let emp of employees">
    <div class="col-md-10 pad0">
        <div class="pad10">
            <span><b>Employee Name: </b></span>
            <span class="card-title">{{emp.Name}}</span>
        </div>
        <div class="pad10">
            <span><b>Designation: </b></span>
            <span class="card-text">{{emp.Designation}}</span>
        </div>
    </div>
    <div class="col-md-2 pad0">
        <button class="right-float display-Inherit margin20"  (click)="loadEmployeeDetails(emp.EmpId)" >Edit</button>
        <button class="right-float display-Inherit margin20" (click)="deleteEmployee(emp.EmpId)" >Delete</button>
    </div>
</div> -->
<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
  
<div class="example-container mat-elevation-z8">
  
<table mat-table [dataSource]="employees" matSort >
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">Employee Name</th>
        <td mat-cell *matCellDef="let emp">{{emp.Name}}</td>
    </ng-container>
    <ng-container matColumnDef="Designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="hide-arrow">Designation</th>
        <td mat-cell *matCellDef="let emp">{{emp.Designation}}</td>
    </ng-container>
    
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="redirectToDetails(element.EmpId)">
          <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>
 
  <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let emp">
        <button mat-icon-button color="accent" (click)="redirectToUpdate(emp.EmpId)">
            <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>
 
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let emp">
          <button mat-icon-button color="warn" (click)="redirectToDelete(emp.EmpId)">
              <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="2">
               No data.
            </mat-footer-cell>
         </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" >/tr>
    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" >
    </tr> -->
</table>
<mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons ></mat-paginator>
</div>