<header>
    <div class="container" style="padding-bottom:20px;">
        <a routerLink="/" class="logo">appTitle</a>
        <nav>
            <ul>
                <Li><a routerLink="/list" >Employee</a></Li>
                <Li><a routerLink="/employee" >Employee Details</a></Li>
                <Li><a routerLink="/newemployee" >New Employee</a></Li>
                <Li><a routerLink="/about" >About</a></Li>
                <Li><a routerLink="/contactus" >Contact us</a></Li>
            </ul>
        </nav>        
    </div>
</header>